# Binaries
zabbix-agent*
*.exe

# Data files
*.dat
*.processing
*.log

# Scripts and outputs
chaos_pids.txt

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Go
vendor/
go.sum
